    <div class="delivery-cell long row-cell-left">
        &#8226; {% trans 'Доставить по другому адресу или другому человеку (по России)' %}
    </div>

            <div class="row-cell row-cell-left">{{ customer.name }}</div>
            <div class="row-cell row-cell-right">{{ customer.city }}</div>

            <div class="row-cell row-cell-left">{{ customer.lastname }}</div>
            <div class="row-cell row-cell-right">{{ customer.address }}</div>

            <div class="row-cell row-cell-left">{{ customer.midname }}</div>
            <div class="row-cell row-cell-right">{{ customer.index }}</div>

            <div class="row-cell row-cell-left">{{ customer.phone }}</div>
            <div class="row-cell row-cell-right">{{ customer.email }}</div>
