            <tr>
            <td valign="top">
                <div class="delivery-cell-long">
                    <p>&#8226; Доставить по другому адресу или другому человеку (по России)</p><br>
                </div>
            </td>
            <td><div class="row-cell-center"></div></td>
            <td valign="top">
                <div class="delivery-cell-short"></div>
            </td>
            </tr>
            </table>
            <table>
            <tr>
                <td><div class="row-cell">Иван</div></td>
                <td><div class="row-cell-center"></div></td>
                <td><div class="row-cell">Москва</div></td>
            </tr>
            <tr>
                <td><div class="row-cell">Иванов</div></td>
                <td><div class="row-cell-center"></div></td>
                <td><div class="row-cell">Патриаршие пруды, Спиридоньевский переулок, 12/9</div></td>
            </tr>
            <tr>
                <td><div class="row-cell">Иванович</div></td>
                <td><div class="row-cell-center"></div></td>
                <td><div class="row-cell">123104</div></td>
            </tr>
            <tr>
                <td><div class="row-cell">+7(495)777-93-60</div></td>
                <td><div class="row-cell-center"></div></td>
                <td><div class="row-cell">contact@costumecode.ru</div></td>
            </tr>
                </table>