# IDE Settings
.idea/

# default settings
core/settings/database.py
core/settings/email.py
core/settings/htmltopdf.py

# Compiled files
*.pyc

# static
media
/static

# mac files
.DS_Store

# database
*.sql

# merge leftovers
*.orig

credentials.py

# logs
*.log
