Django>=1.8,<1.9
mysql

# Graphics
Pillow
OpenEXR
django-imagekit==3.2.6
numpy
numexpr

# Admin
django-grappelli==2.7.3
django-colorful
django-ordered-model

# REST
djangorestframework
django-rest-swagger
djoser

# Choice fields
django-model-utils

# Cross-domain requests
django-cors-headers

# Cascade dropdowns
git+https://github.com/digi604/django-smart-selects.git@master

# filters
django-filter
#fancy forms for filters in the administration panel and django filter forms
django-crispy-forms

# Import/Export data
git+https://github.com/arseniy-panfilov/django-import-export.git@master
openpyxl

# misc
django-debug-toolbar
lazy

# yandex-kassa
django-yandex-kassa
