Django>=1.8,<1.9

# Graphics
Pillow
OpenEXR
django-imagekit==3.2.6
numpy
numexpr
scipy

# Admin
django-grappelli==2.7.3
django-colorful
django-ordered-model

# localization
django-modeltranslation

# REST
djangorestframework==3.3.3
django-rest-swagger==0.3.8

# Caching
drf-extensions
djangorestframework-last-modified

# Choice fields
django-model-utils

# Cross-domain requests
django-cors-headers

# Cascade dropdowns
django-smart-selects==1.3.2

# filters
django-filter
#fancy forms for filters in the administration panel and django filter forms
django-crispy-forms

# Import/Export data
git+https://github.com/arseniy-panfilov/django-import-export.git@master
openpyxl

# misc
django-debug-toolbar
django-cleanup
django-bulk-update
lazy

# yandex-kassa
django-yandex-kassa

# wkhtmltopdf
django-wkhtmltopdf

# deploy
fabric
