{% load i18n %}

<p>
    {% trans 'Спасибо большое за ваш заказ.' %}
</p>

<p>
    {% trans 'Во вложенном PDF-файле вы сможете найти все детали вашего заказа.' %}<br/>
    {% trans 'Прежде чем мы начнем работы по пошиву, в течении 48 часов мы свяжемся с вами по телефону для подтверждения вашего заказа и уточнения размеров.' %}
</p>
<p>
    {% trans 'Мы будем рады пошить данный заказ для вас!' %}
</p>
<br/>
<p>
    ___ <br/>
    {% trans 'С уважением,' %} <br/>
    COSTUME CODE
</p>

<div>{% trans 'Магазины в Москве:' %}</div>
<ol>
    <li>{% trans 'Спиридоньевский переулок, дом 12/9, телефон: 8 (495) 241-95-03' %}</li>
    <li>{% trans 'Остоженка, дом 20 (вход с Барыковского переулка), телефон: 8 (495) 266-09-76' %}</li>
</ol>
<div>{% trans 'Магазины в Сургуте:' %}</div>
<ol>
    <li>{% trans 'ул. Профсоюзов, дом 11 (Lifestyle mall "АГОРА"), телефон: 8 (346) 291-90-00' %}</li>
</ol>

<p>
    {% trans 'По всем вопросам:' %}
    {{ SITE_INFO_EMAIL }}
</p>
