{% load i18n %}

<p>
    {% trans 'Спасибо большое за ваш заказ.' %}
</p>

<p>
    {% trans 'Во вложенном PDF-файле вы сможете найти все детали вашего заказа.' %}<br/>
    {% trans 'Прежде чем мы начнем работы по пошиву, в течении 48 часов мы свяжемся с вами по телефону для подтверждения вашего заказа и уточнения размеров.' %}
</p>
<p>
    {% trans 'Мы будем рады пошить данный заказ для вас!' %}
</p>
<br/>
<p>
    ___ <br/>
    {% trans 'С уважением,' %} <br/>
    {% trans 'команда' %} COSTUME CODE
</p>
<p>
    _________________________________________________________________________
</p>
<div>{% trans 'МАГАЗИНЫ COSTUME CODE В МОСКВЕ' %}  |  8 495 777 9360</div>
<div>{% trans 'Ул. Рочдельская 15с41  |  Спиридоньевский пер. 12/9  |  Ул. Остоженка 20' %}</div>
<br/>
<br/>
<div>{% trans 'МАГАЗИН COSTUME CODE В СУРГУТЕ' %}  |  8 3462 919 000</div>
<div>{% trans 'Ул. Профсоюзов 11, Lifestyle Mall «АГОРА»' %}</div>
<br>cd
<br>
<div>WWW.COSTUMECODE.RU</div>
<div>{% trans '#персональныйпошив #медленнаямода #эко-френдли #сделаемвашмирпрекраснее' %}</div>
<p>
    _________________________________________________________________________
</p>

<p>
    {% trans 'По всем вопросам:' %}
    {{ SITE_INFO_EMAIL }}
</p>

